@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Fira Sans;
}

/* Nav bar section design */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin: 0px 160px;
}

.ban {
    font-size: 32px;
    font-weight: 700;
}

.sign-in {
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
}

/* Banner section design */
#banner-section {
    background-color: #C6E4D6;
    width: 1280px;
    height: 560px;
    border-radius: 24px;
    margin: 0 auto;
    margin-top: 51px;
}

.banner-container {
    padding: 80px 100px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.banner-info {
    width: 622px;
}

.ban-1 {
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E80;
    margin-top: 16px;
}

.banner-description {
    font-size: 56px;
    font-weight: 700;
    margin-top: 16px;
}

.ex-btn {
    padding: 17px 34px;
    border-radius: 8px;
    background-color: #006A50;
    color: white;
    border: none;
    margin-top: 24px;
}

/* Pillers section design */
#card-section {
    margin-left: 160px;
    margin-top: 80px;
}

.card-container {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-right: 160px;
}

.card-main {
    width: 302px;
    border: 1px solid #e7e7e7;
    padding: 32px;
    border-radius: 16px;
}

.innovation {
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0ECC;
    margin-top: 33px;
}

.innovation-des {
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB3;
    margin-top: 12px;
}

/* Future section design */
#future-section {
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
}

.future-title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 24px;
}

.future-des {
    color: #0E0E0EB3;
}

.future-card-main {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.future-cards {
    width: 410px;
    padding: 32px;
    border-radius: 16px;
    background-color: #5490F533;
    margin-top: 32px;
}

.vision {
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0ECC;
    margin-top: 25px;
}

.vision-des {
    margin-top: 12px;
}

.learn-btn {
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    background-color: #5490F5;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
}

/* Speech section design */
#speech-section {
    margin-top: 32px;
}

.speech-container {
    width: 1280px;
    padding: 48px 24px;
    border: 1px solid #0E0E0E26;
    box-shadow: 1px 1px 2px 2px #0E0E0E26;
    border-radius: 16px;
    margin: 0 auto;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: left 24px top 24px;
}

.speech {
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0ECC;
}

.cheif {
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
}

.cheif-position {
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E99;
}

/* Opinion section design */
#opinion-section {
    margin-top: 80px;
    margin-left: 160px;
}

.opinion-title {
    font-size: 40px;
    font-weight: 700;
}

.opinion-table-back {
    width: 1280px;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 1px 1px 2px 2px #0E0E0E26;
    margin: 0 auto;
    margin-left: 230px;
    margin-top: 24px;
}

table {
    width: 1216px;
    border-collapse: collapse;

}

.opinion-table {
    margin: 0 auto;
    border: 2px solid #c6c6c6;
}

th,
td {
    padding: 24px;
    border: 1px solid;
    border: 2px solid #c6c6c6;
}

.question {
    font-size: 16px;
    font-weight: 600;
}

.select {
    padding: 10px 14px;
    background-color: #C6E4D6;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}

.options {
    text-align: center;

}